* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    background-color: burlywood;
    /* border: dotted;*/
}

.Orla {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*    border: dotted red thin;*/
    width: 800px;
    height: 595px;
    background-image: url('../img68/1967-1968_Vacia.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.orlaImagen {
    position: relative;
    float: left;
    width: 280px;
    height: 595px;
    padding: 0px 0px 0px 0px;
    /*border: solid green thick;*/
}

#X_Orla {
    float: left;
    display: none;
    position: relative;
    /*    width: 110px; */
    padding: 10px 0px 0px 10px;
    border: solid green thin;
}



.fotos {
    float: left;
    position: relative;
    /*top: 10px;*/
    height: 595px;
    width: 505px;
    padding: 10px 0px 0px 10px;
    visibility: hidden;
    /*border: solid blue thick;*/
}

.fotoControl {
    position:relative;
    float: left;
    /*width: 56px;
    height: 72px;*/
    height:100%;
    width:100%;
    /*background-size: 56px Auto;*/
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*background-image: initial;
    background-repeat: no-repeat;*/
    z-index:3;
}



.fotoG {
    float: left;
    width: 112px;
    height: 72px;
    background-size: 56px auto;
    padding: 0px 0px 0px 0px;
    margin: 1px 1px 1px px;
    background-image: initial;
    background-repeat: no-repeat;
    background-position: left center;
    // border: dotted;
}

.marcoA { /*utilizado para cada alumno con fotos antes y ahora*/
    position: relative;
    /*display: inline-block;*/
    bottom: 0px;
    right: 0px;
    float: left;
    width: 56px;
    height: 72px;
    background-size: 56px auto;
    background-image: initial;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    margin: 1.7px 2px 1.7px 2px;
    /*z-index: 15;*/
}

.marcoAH {/*utillizado para preentar las fotos antes y ahora ampliadas*/
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
    /*opacity: 0;*/
    overflow: hidden;
    margin: 0;
        border: 2px solid red;
}

    /*.marcoAH:hover, .marcoAH:active {
        display: inline;
        width: 297%;
        height: 150%;
        opacity: 1;
        border: medium solid red;
    }*/

.marcoAH0 {
    position: absolute;
    z-index: 5;
    display: none;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    /*    border: medium solid red;*/
}
/*.marcoAH0:hover{
	display:inline;
    width: 297%;
    height: 150%;
	opacity:1;
        border: medium solid red;
	top:0;
}*/


.fotoO {
    position: relative;
    display: inline;
    /*height: 100%;*/
    z-index: 5;
    /*display:none;*/
    padding:0;
    border:0;
    margin:0;
}

#creditos {
    position: absolute;
    display: inline;
    width: 10%;
    height: 10%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
    white-space: pre;
    background-color: rgba(148, 0, 0, .0);
    color: rgba(255,255,255,.0);
    z-index: 100;
    font-size: 1em;
    font-weight: 900;
}

    #creditos:hover, #creditos:active {
        width: auto;
        height: auto;
        padding: 1em;
        bottom: -50%;
        right: 0;
        margin: .5em 0 0.5em;
        background-color: rgba(148, 0, 0, 1);
        color: white;
    }

#titulo {
    position: absolute;
    width: 96%;
    border: 0;
    margin: 0;
    top: 35%;
    right: 0;
    background-color: rgba(108, 58, 58, 0.80);
    text-align: center;
    padding: .5em;
}

#textoTitulo {
    font-size: 2.1em;
    color: rgb(255, 0, 0);
    font-weight: 900;
}




#botonMostrarXOrla:hover {
    background-color: palevioletred;
    opacity: .5;
}


#botonMostrarXOrla {
    position: absolute;
    z-index: 200;
    width: 4em;
    left: 70%;
    top: 74%;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#botonMostrarCarrusel {
    position: absolute;
    z-index: 200;
    left: 70%;
    top: 5%;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    width: 2em;
    height: 1em;
    padding:.3em;
}

    #botonMostrarCarrusel:hover, #botonMostrarCarrusel:active {
        background-color: palevioletred;
        opacity: 1;
        // border: 6px double blue;
        color: rgba(0, 0, 0, 1);
        width: 35em;
        height: auto;
        overflow: visible;
    }
    #botonMostrarCarrusel ul{
        background-color:white;
    }
    #botonMostrarCarrusel li:hover, li:active {
        cursor: pointer;
        font-weight: 900;
        font-size: 1.1em;
    }
    #btCerrar {
        z-index: 1000;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        cursor: pointer;
    }

    #btCerrar:hover {
        opacity: .5;
        background-color: palevioletred;
    }
